<h1><%= "#{@member.first_name}'s" if params[:member_id] %> Goal Tiers</h1>

<table>
<% @tiers.each do |tier| %>
  <tr>
    <td><%= link_to tier.name, tier %></td>
    <td><%= tier.note %></td>
    <% unless params[:member_id] %>
	    <td><%= tier.member.first_name %></td>
    <% end %>
    <td><%= link_to pluralize(tier.endeavors.count, 'goal'), tier_endeavors_path(tier) %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tier', new_tier_path %>
