<h1><%= "#{@member.first_name}'s" if params[:member_id] %> Goal Tiers</h1>
<%= link_to_function 'shuffle', "$('#tiers').shuffle()", :id => 'shuffle' %>
<%= cleardiv %>

<table id="tiers">
<% @tiers.each do |tier| %>
  <tbody id="<%= dom_id tier %>">
	  <tr>
	    <td>
		    <% unless params[:member_id] %>
			    (<%= link_to tier.member.first_name, tier.member %>)
		    <% end %>
				<%= link_to tier.name, tier %>
			</td>
	    <td><%= tier.note %></td>
	    <td><%= link_to pluralize(tier.endeavors.count, 'goal'), tier_endeavors_path(tier) %>
			<td><%= link_to_function 'add detail', "$('##{dom_id(tier, :detail_on)}').show()" %></td>
			<td><%= link_to 'copy', copy_tier_path(tier), :method => :post unless tier.member == current_member %></td>
			<td>
			  <% if tier.tier_houses.present? %>
			    shared with <%= link_to pluralize(tier.tier_houses.count, 'club'), tier_sub_clubs_path(tier) %>
			  <% end %>
			</td>
			<% if tier.member == current_member && params[:member_id] %>
			  <td class="handle">(move)</td>
			<% end %>
		</tr>

		<tr>
			<td colspan=9>

			  <%= div_for tier, :details do %>

			  <% end %>

			  <%= form_for tier.details.new, :html => {:id => dom_id(tier, :detail_on), :style => "display:none"} do |f| %>
			    <%= f.text_area :note, :size => '40x5' %>
			    <%= f.file_field :payload %>
			    <%= f.submit :save %>
			    <%= f.hidden_field :target_type %>
			    <%= f.hidden_field :target_id %>
			  <% end %>
	  </tr>
	</tbody>
<% end %>
</table>

<br />

<%= link_to 'New Tier', new_tier_path %>
<%= link_to 'All Tiers', tiers_path %>