<p id="notice"><%= notice %></p>

<p>
  <b><%= @tier.name %></b>
  (one of <%= link_to @tier.member.first_name, @tier.member %>'s tiers)
</p>

<p>
  <%= @tier.note %>
</p>

<ol>
  <% @tier.endeavors.each do |endeavor| %>
    <li>
      <%= link_to endeavor.goal_name, endeavor %>
	    <span id="running_average"><%= endeavor.average_last_7_days %></span>
	  </li>
  <% end %>
</ol>
<%= link_to_function 'add', "$('#new_tiering').show()" %>
<%= form_for @tier.tierings.new, :html => {:class => :hidden} do |f| %>
  <%= f.hidden_field :tier_id %>
  <%= f.select :endeavor_id, options_from_collection_for_select(current_member.endeavors.not_in_tier(@tier), :id, :goal_name), :include_blank => true %>
  <%= f.submit "add to tier" %>
<% end %>