<p id="notice"><%= notice %></p>

<p>
  <b><%= @tier.name %></b>
  (one of <%= link_to @tier.member.first_name, @tier.member %>'s <%= link_to 'tiers', member_tiers_path(@tier.member) %>)
</p>

<p>
  <%= @tier.note %>
</p>

<%= link_to_function 'shuffle', "$('#tierings').shuffle()", :id => 'shuffle' %>
<%= cleardiv %>

<ol id="tierings">
  <% @tier.endeavors.each do |endeavor| %>
    <li>
      <%= link_to endeavor.goal_name, endeavor %>
	    <span id="running_average"><%= endeavor.average_last_7_days %></span>
	  </li>
  <% end %>
</ol>
<%= link_to_function 'add', "$('#new_tiering').show()" if @tier.member == current_member %>
<%= form_for @tier.tierings.new, :html => {:class => :hidden} do |f| %>
  <%= f.hidden_field :tier_id %>
  <%= f.select :endeavor_id, options_from_collection_for_select(current_member.endeavors.not_in_tier(@tier), :id, :goal_name), :include_blank => true %>
  <%= f.submit "add to tier" %>
<% end if @tier.member == current_member %>

<%= link_to 'New Goal Baby!', '#goal_form', :id => 'new_goal_link' %>

<div class="hidden">
  <div id="goal_form">
    <%= form_for Goal.new, :remote => true do |f| %>
      <%= f.text_field :title, :placeholder => 'Eat better', :size => 54 %>
      <%= f.submit :okready %><br>
      <%= f.text_area :description, :placeholder => 'Start every meal with something green', :size => '40x4' %>
      <%= hidden_field :tier, :id, :value => @tier.id if @tier.member == current_member %>
    <% end %>
  </div>
</div>

<div id="sub_clubs">
	<%= link_to 'bring this tier to a club', new_tier_house_path(:tier_house => {:tier_id => @tier.id}) if @tier.member == current_member %>
</div>

<%= link_to 'copy', copy_tier_path(@tier), :method => :post unless @tier.member == current_member %>

<div id="details">
	<%= render @tier.details %>
</div>