<h1>Sub Clubs</h1>

<p>
	The Stickers Club is one big club - but you can also form groups with your friends, to help each other focus on certain goals.  You bring your specific endeavors to each club by adding them to tiers.  Each tier can be shared with any clubs you want.
</p>

<% @sub_clubs.each do |sub_club| %>
  <div>
	  <strong><em><%= link_to sub_club.name, sub_club %></em></strong>
	  (<%= link_to sub_club.members.count, sub_club_members_path(sub_club) %>)
	  (<%= link_to sub_club.tiers.count, sub_club_tiers_path(sub_club) %>)
	  (<%= link_to sub_club.endeavors.count, sub_club_endeavors_path(sub_club) %>)
	  <%= sub_club.description %>
	  <% if current_member.is_a_member_of?(sub_club) %>
	  
	  <% elsif current_member.pending_member_of?(sub_club) %>
	    <i>request pending</i>
	  <% else %>
  	  <%= link_to 'join', memberships_path(:membership => {:sub_club_id => sub_club}), :method => :post %>
  	<% end %>
	</div>
<% end %>
<br />

<%= link_to 'New Sub club', new_sub_club_path %>
