<h1>Sub Clubs</h1>

<p>
	Form groups with your friends, to help each other focus on goals.  Bring your <%= link_to 'endeavors', member_endeavors_path(current_member) %> to a club by adding them to <%= link_to 'tiers', member_tiers_path(current_member) %>.
</p>

<% @sub_clubs.each do |sub_club| %>
  <div>
	  <strong><em><%= link_to sub_club.name, sub_club %></em></strong>
	  <%= sub_club.description %>
	  <% if current_member.is_a_member_of?(sub_club) %>
	  
	  <% elsif current_member.pending_member_of?(sub_club) %>
	    <i>request pending</i>
	  <% else %>
  	  <%= link_to 'join', memberships_path(:membership => {:sub_club_id => sub_club}), :method => :post %>
  	<% end %>
	</div>
<% end %>
<br />

<%= link_to 'New Sub club', new_sub_club_path %>
