<p id="notice"><%= notice %></p>

<h2>
	<b><%= @sub_club.name %></b>
  <%= link_to 'accept pending memberships', sub_club_memberships_path(@sub_club) if @sub_club.memberships.unapproved.present? && current_member.facilitates?(@sub_club) %>
	<% if membership = current_member.is_a_member_of?(@sub_club) %>
	  <span class="small"><%= link_to 'leave', membership, :method => :delete %></span>
	<% else %>
	  <span class="small"><%= link_to 'join', memberships_path(:membership => {:sub_club_id => @sub_club.id}), :method => :post %></span>
	<% end %>
</h2>

<p>
  <%= @sub_club.description %>
</p>

<ul>
	<% @sub_club.members.each do |member| %>
	  <li><%= link_to member.first_name, member %></li>
	<% end %>
</ul>

<ul>
	<% @sub_club.tiers.each do |tier| %>
	  <li><%= link_to tier.name, tier %></li>
	<% end %>
</ul>