<h1>scores</h1>

<table>
<% @scores.each do |score| %>
  <tr>
    <td><%= score.endeavor.member.first_name %><td>
    <td>got</td>
    <td><%= score.mark %></td>
    <td>for</td>
    <td><%= score.endeavor.goal.title %></td>
    <td>on</td>
    <td><%= score.date %></td>
    <td><%= link_to 'enter new score', new_score_path(:score => {:endeavor_id => score.endeavor_id})%></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Score', new_score_path %>
