<p id="notice"><%= notice %></p>

<p>
  <b>Endeavor:</b>
  <%= @tiering.endeavor %>
</p>

<p>
  <b>Tier:</b>
  <%= @tiering.tier %>
</p>


<%= link_to 'Edit', edit_tiering_path(@tiering) %> |
<%= link_to 'Back', tierings_path %>
