<%= form_for(@invitee) do |f| %>
  <% if @invitee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@invitee.errors.count, "error") %> prohibited this invitee from being saved:</h2>

      <ul>
      <% @invitee.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :facebook_id %><br />
    <%= f.number_field :facebook_id %>
  </div>
  <div class="field">
    <%= f.label :invite_id %><br />
    <%= f.number_field :invite_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
