<p id="notice"><%= notice %></p>

<p>
  <%= link_to @endeavor.goal.title, @endeavor.goal %>
</p>

<p>
  <% if @endeavor.member != current_member %>
    belongs to:
    <%= link_to @endeavor.member.first_name, @endeavor.member %>
  <% end %>
</p>

<div>
  <%= render @endeavor.details %>
</div>

<div>
  <%= render @endeavor.scores %>...
</div>

<%= link_to 'Edit.', edit_endeavor_path(@endeavor) if current_member == @endeavor.member %>
