<p id="notice"><%= notice %></p>

<p>
  <%= link_to @endeavor.goal.title, @endeavor.goal %>
</p>

<p>
  <% if @endeavor.member != current_member %>
    belongs to:
    <%= link_to @endeavor.member.first_name, @endeavor.member %>
  <% end %>
</p>

<div>
  <%= render @endeavor.details %>
</div>

<div>
  <%= render @endeavor.scores %>...
</div>

<%= link_to 'Edit.', edit_endeavor_path(@endeavor) if current_member == @endeavor.member %>
<td><%= link_to_function 'add detail', "$('##{dom_id(@endeavor, :detail_on)}').show()" %></td>


<%= div_for @endeavor, :details do %>

<% end %>

<%= form_for @endeavor.details.new, :html => {:id => dom_id(@endeavor, :detail_on), :style => "display:none"} do |f| %>
  <%= f.text_area :note, :size => '40x5' %>
  <%= f.file_field :payload %>
  <%= f.submit :save %>
  <%= f.hidden_field :target_type %>
  <%= f.hidden_field :target_id %>
<% end %>
