<tr id="<%= dom_id goal %>">
  <td>
    <% endeavor = current_member && current_member.endeavors.where(:goal_id => goal).first %>
    <%= form_for Score.new, :html => {:id => dom_id(endeavor)}, :remote => true do |f| %>
      <%= f.text_field :mark, :placeholder => '0-20', :size => 2 %>
      <%= f.hidden_field :endeavor_id, :value => endeavor.id %>
      <%= f.hidden_field :date, :value => Date.today %>
      <%= f.submit :k %>
    <% end if endeavor && endeavor.scores.where(:date => Date.today).blank? %>
  </td>
  <td><%= link_to goal.title, goal %></td>
  <td><%= goal.description %></td>
  <td><%= pluralize(goal.endeavors.count, 'member') %>
  <% unless current_member.andand.goals.andand.include?(goal) %>
    <%= link_to '(add)', endeavors_path(:endeavor => {:goal_id => goal.id, :member_id => current_member.id}), :method => :post, :remote => true if current_member %>
  <% end %>  
  </td>
  <td><%= link_to_function 'add detail', "$('##{dom_id(endeavor, :detail_on)}').show()" if endeavor %></td>
</tr>

<tr>
<td colspan=9>
  
  <%= div_for endeavor, :details do %>
  
  <% end if endeavor %>
  
  <%= form_for endeavor.details.new, :html => {:id => dom_id(endeavor, :detail_on), :style => "display:none"} do |f| %>
    <%= f.text_area :note, :size => '40x5' %>
    <%= f.file_field :payload %>
    <%= f.submit :save %>
    <%= f.hidden_field :target_type %>
    <%= f.hidden_field :target_id %>
  <% end if endeavor %>
</td>