<h1>Stickers Club Goals</h1>

<div id="sxsw_intro">
  At SxSW, we learn so many ways to live and work better.  A lot of them can be expressed as simple goals that we try to do every day.  <%= link_to 'Join the Stickers Club', new_member_registration_path %> to list your goals and track your progress!
</div>

<table id="goals">
  <%= render @goals %>
</table>

<br />

<%= link_to 'New Goal Baby!', '#goal_form', :id => 'new_goal_link' %>

<div class="hidden">
  <div id="goal_form">
    <%= form_for Goal.new, :remote => true do |f| %>
      <%= f.text_field :title, :placeholder => 'Eat better', :size => 54 %>
      <%= f.submit :okready %><br>
      <%= f.text_area :description, :placeholder => 'Start every meal with something green', :size => '40x4' %>
    <% end %>
  </div>
</div>