<p id="notice"><%= notice %></p>

<p>
  <b><%= @goal.title %></b>
</p>

<p>
  <%= @goal.description %>
</p>

<% @goal.members.each do |member| %>
  <div>
    <%= member.first_name %> has
    <%= member.score_for(@goal) %> in
    <%= pluralize member.scored_days_for(@goal), 'day' %> for an average percentage of 
    <%= (member.score_for(@goal) * 5.0 / member.scored_days_for(@goal)).to_i %>
    <%= link_to 'show', endeavor_path(@goal.endeavors.where(:member_id => member.id).first)%>
  </div>
<% end %>

<% if current_member.endeavors.where(:goal_id => @goal).present? %>
  <%= link_to_function 'enter', "$('#new_score').show()"%>
  <%= form_for(current_member.endeavors.where(:goal_id => @goal.id).first.scores.new, :html => {:style => "display:none"}) do |f| %>
    <div class="field">
      <%= f.text_field :mark, :size => 2, :placeholder => 20 %>
      <%= f.date_select :date %>
      <%= f.submit :ok %>
    </div>

    <%= f.hidden_field :endeavor_id %>
  <% end %>
<% else %>
  <%= link_to 'try this goal', new_endeavor_path(:endeavor => {:goal_id => @goal.id}) %>
<% end %>
