<p id="notice"><%= notice %></p>

<p>
  <b><%= @goal.title %></b>
</p>

<p>
  <%= @goal.description %>
</p>

<% @goal.members.each do |member| %>
  <%= member.score_for(@goal) %>
<% end %>


<%= link_to 'Edit', edit_goal_path(@goal) %> |
<%= link_to 'Back', goals_path %>
