<p id="notice"><%= notice %></p>

<p>
  <b><%= @goal.title %></b>
</p>

<p>
  <%= @goal.description %>
</p>

<%= render @goal.details %>

<%= link_to_function 'add detail', "$('##{dom_id(@goal, :detail_on)}').show()" %>

<%= div_for @goal, :details do %>

<% end %>

<%= form_for @goal.details.new, :html => {:id => dom_id(@goal, :detail_on), :style => "display:none"} do |f| %>
  <%= f.text_area :note, :size => '40x5' %>
  <%= f.file_field :payload %>
  <%= f.submit :save %>
  <%= f.hidden_field :target_type %>
  <%= f.hidden_field :target_id %>
<% end %>

<% @goal.endeavors.public_to(current_member).each do |endeavor| %>
  <% member = endeavor.member %>
  <div>
    <%= link_to member.first_name, member %> has
    <%= member.score_for(@goal) %> in
    <%= pluralize member.scored_days_for(@goal), 'day' %> for an average percentage of 
    <%= (member.score_for(@goal).to_i * 5.0 / member.scored_days_for(@goal)).to_i if member.scored_days_for(@goal) > 0 %>
    <% if endeavor.tierings.present? %>
      <% endeavor.tiers.each do |tier| %>
        <%= link_to tier.name, tier %>
      <% end %>
    <% end %>
    <%= link_to 'show', endeavor_path(endeavor) %>
  </div>
<% end %>

<% if current_member.endeavors.where(:goal_id => @goal).present? %>
  <%= link_to_function 'enter', "$('#new_score').show()"%>
  <%= form_for(current_member.endeavors.where(:goal_id => @goal.id).first.scores.new, :html => {:style => "display:none"}) do |f| %>
    <div class="field">
      <%= f.text_field :mark, :size => 2, :placeholder => 20 %>
      <%= f.date_select :date %>
      <%= f.submit :ok %>
    </div>

    <%= f.hidden_field :endeavor_id %>
  <% end %>
<% else %>
  <%= link_to 'try this goal', new_endeavor_path(:endeavor => {:goal_id => @goal.id}) %>
<% end %>
<%= link_to 'edit', edit_goal_path(@goal) %>
