<!DOCTYPE html>
<html>
<head>
  <title>Stickers</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>
</head>
<body>
  <nav>
    <%= link_to 'goals', goals_path %>
    <%= link_to 'members', members_path %>
    <%= link_to 'endeavors', endeavors_path %>
    <%= link_to 'tiers', tiers_path %>
  </nav>
  <nav id="registration_stuff">
    <% if current_member %>
      <%= link_to 'log out', destroy_member_session_path, :method => :delete %>
    <% else %>
      <%= link_to 'sign up', new_member_registration_path %>
      <%= link_to 'sign in', new_member_session_path %>
    <% end %>
    <%= form_for Invite.new, :remote => true do |f| %>
      <%= f.text_field :emails, :placeholder => "joe@example.com, teebs@example.com" %>
      <%= f.submit :invite %><br>
      <%= f.text_area :message, :size => '40x3', :placeholder => 'Message' %>
    <% end %>
  </nav>
  
  <div id="content">
    <%= yield %>
  </div>
</body>
</html>
