<div>
  <h1><%= @member.first_name %></h1> has <%= @member.goals.count %> goals:
</div>
<table style="border: 1px solid black">
  <tr>
    <th></th>
    <th>Recent scores</th>
    <th>Total score</th>
    <th>%</th>
    <th>% last 7 days</th>
  </tr>
  <% @member.endeavors.each do |endeavor| %>
    <tr>
      <td><%= link_to endeavor.goal.title, endeavor.goal %></td>
      <td>
        <% endeavor.scores.each do |score| %>
          <%= div_for score do %>
            <%= score.mark %> on <%= score.date %>
          <% end %>
        <% end %>
      </td>
      <td class="total">
        <%= div_for endeavor, :class => medal_for(endeavor.scores.sum(:mark)) do %>
          <%= endeavor.scores.sum(:mark) %>
        <% end %>
      </td>
      <td><%= endeavor.average %></td>
      <td><%= endeavor.average_last_7_days %></td>
    </tr>
    <tr>
      <td></td>
      <td>
        <%= link_to_function 'enter', "$('##{dom_id(endeavor, :score_for)}').show()"%>
        <%= form_for(endeavor.scores.new, :html => {:style => "display:none", :id => dom_id(endeavor, :score_for)}) do |f| %>
          <div class="field">
            <%= f.text_field :mark, :size => 2, :placeholder => 20 %>
            <%= f.date_select :date %>
            <%= f.submit :ok %>
          </div>

          <%= f.hidden_field :endeavor_id %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>